doctype html
html.no-js

head
  meta(charset='utf-8')
  link(rel='stylesheet', href='styles/main.css')

  script(src='bower_components/modernizr/modernizr.js')
body
  header.head
    section.head-top.centering
      .head-top-content
        img(src="/images/diamond.png")
        h1.headline-main Just one theme, All In One
        hr.hr-top
        p Integer blandit arcu ut tortor vehicula volutpat. Ut lacinia orci lacus, et aliquam diam congue in. Vivamus
        p auctor lacus vel mauris porttitor, vel dapibus augue ornare.
        button.button-primary.button-dark Start Browsing
  nav
    section.main-navigation.centering
      ul.list-horizontal.mein-menu
        li
          a(href="#") Home
        li
          a(href="#") About
        li
          a(href="#") Team
        li
          a(href="#") Services
        li
          a(href="#") klients
        li
          a(href="#") Portfolio
        li
          a(href="#") Blog
        li
          a(href="#") Conatcts
  section.team.centering
    section.we-are.clearfix
      header.we-are-head
        h2.headline-section.headline-green-type We Are Just one, All in One
        p.section-text We Are Utmost
          span &nbspCREATIVE AGENCY&nbsp
          |Located In Melbourne Australia. Pelle Tesque In Tincidunt Augue. Integer Quis Pellentesque In Facilisis Leo.
      .we-are-box
        .we-are-img.circle-bg
          img(src="../images/heart.png")
        h3 Interdum Vestibulum
        p Quisque ac porta mauris. Nam ut ante nunc. In tempor mauris a enim tincidunt, a interdum justo eleifend. Suspendisse
          |in odio mi. Suspendisse mollis risus et gravida congue. Curabitur eu lorem neque. Phasellus at nulla eu.
        button.button-primary.button-we-are Portfolio
      .we-are-box
        .we-are-img.circle-bg
          img(src="../images/bulb-red.png")
        h3 Interdum Vestibulum
        p Quisque ac porta mauris. Nam ut ante nunc. In tempor mauris a enim tincidunt, a interdum justo eleifend. Suspendisse
          |in odio mi. Suspendisse mollis risus et gravida congue. Curabitur eu lorem neque. Phasellus at nulla eu.
        button.button-primary.button-we-are Services
      .we-are-box
        .we-are-img.circle-bg
          img(src="../images/phone.png")
        h3 Interdum Vestibulum
        p Quisque ac porta mauris. Nam ut ante nunc. In tempor mauris a enim tincidunt, a interdum justo eleifend. Suspendisse
          |in odio mi. Suspendisse mollis risus et gravida congue. Curabitur eu lorem neque. Phasellus at nulla eu.
        button.button-primary.button-we-are Contact Us
    section.skills.clearfix
      header.headline
      h2.headline-section.headline-green-type Skills Of Team
      .skill-member
        .skill-bar
          .skill-overlay 73%
          .skill-wrapper
            .skill-arc2
            .skill-arc1
        p.name-member Jassem Elraklesh
        span Digital Arts / Painting
      .skill-member
        .skill-bar
          .skill-overlay 50%
          .skill-wrapper
            .skill-arc2
            .skill-arc1
        p.name-member Jonathan Sanders
        span Web Programming / Web Developer
      .skill-member
        .skill-bar
          .skill-overlay 98%
          .skill-wrapper
            .skill-arc2
            .skill-arc1
        p.name-member Diego Edwards
        span Graphic Designer / Web Designer
      .skill-member
        .skill-bar
          .skill-overlay 86%
          .skill-wrapper
            .skill-arc2
            .skill-arc1
        p.name-member Anglelina Flores
        span Model / Photographer
    section.who-we-are.clearfix
      h2.headline-section.headline-green-type Who We Are?
      .member
        .member-photo
        p.name-member Jassem Elraklesh
        span Digital Arts / Painting
        ul.list-horizontal.horizontal-social-list
          li
            a.social-twitter(href="#")
          li
            a.social-facebook(href="#")
          li
            a.social-vimeo(href="#")
          li
            a.social-drible(href="#")
        hr
        p Sed congue enim ac viverra placerat. Fusce auctor congue lacus eu volu pat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam eu
          |mauris posuere, congue dolor. Morbi varius libero quis semper varius.
      .member
        .member-photo
        p.name-member Jonathan Sanders
        span Web Programming / Web Developer
        ul.list-horizontal.horizontal-social-list
          li
            a.social-twitter(href="#")
          li
            a.social-facebook(href="#")
          li
            a.social-vimeo(href="#")
          li
            a.social-drible(href="#")
        hr
        p Sed congue enim ac viverra placerat. Fusce auctor congue lacus eu volu pat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam eu
          |mauris posuere, congue dolor. Morbi varius libero quis semper varius.
      .member
        .member-photo
        p.name-member Diego Edwards
        span Graphic Designer / Web Designer
        ul.list-horizontal.horizontal-social-list
          li
            a.social-twitter(href="#")
          li
            a.social-facebook(href="#")
          li
            a.social-vimeo(href="#")
          li
            a.social-drible(href="#")
        hr
        p Sed congue enim ac viverra placerat. Fusce auctor congue lacus eu volu pat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam eu
          |mauris posuere, congue dolor. Morbi varius libero quis semper varius.
      .member
        .member-photo
        p.name-member Anglelina Flores
        span Model / Photographer
        ul.list-horizontal.horizontal-social-list
          li
            a.social-twitter(href="#")
          li
            a.social-facebook(href="#")
          li
            a.social-vimeo(href="#")
          li
            a.social-drible(href="#")
        hr
        p Sed congue enim ac viverra placerat. Fusce auctor congue lacus eu volu pat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam eu
          |mauris posuere, congue dolor. Morbi varius libero quis semper varius.
  section.people-opinion
    .peoples-opinion-content.centering.clearfix
      h2.headline-section What People Are Saying?
      .quote
        q Etiam eu mauris posuere congue dolor. Morbi varius libero quis semper varius busce nec consequat orci.
          |Praesent libero augue, bibendum sit amet justo vel, molestie ultrices urna Praesent.
      span Mohamed Elgendy www.google.com
  section.services.centering
    .services-top
      h2.headline-section.headline-green-type Services
      .services-img-circle.services-circle-bg
        img(src="../images/bulb-red.png")
      p Praesent quis mauris risus.
        span Suspendisse
        |ac eros pulvinar, euismod arcu vitae, convallis enim. Vivamus diam erat, commodo quis cursus fermentum, posuere non nisi.
        span Integer egestas
        |a sapien sit amet dignissim. Proin velit orci placerat at hendrerit ut venenatis vestibulum leo.
      button.button-primary.services-button.btn-take-tour take a tour
      button.button-primary.services-button.btn-newsletter mounthly newsletter
    .order-section.centering.clearfix
      .order-now
        .services-circle
          .services-circle-content
            img(src='../images/lab.png')
        h4 Web Programming
        hr
        p Quisque ac porta mauris. Nam ut ante nunc. In tempor mauris a enim tincidunt, a interdum justo eleifend. Suspendisse in odio mi. Suspendisse mollis
          |risus et gravida congue. Curabitur eu lorem neque. Phasellus at nulla eu.
        hr
        button.button-primary.button-services ORDER NOW
      .order-now
        .services-circle
          .services-circle-content
            img.services-circle-img(src='../images/diamond-color.png')
        h4 Excellent Support
        hr
        p Quisque ac porta mauris. Nam ut ante nunc. In tempor mauris a enim tincidunt, a interdum justo eleifend. Suspendisse in odio mi. Suspendisse mollis
          |risus et gravida congue. Curabitur eu lorem neque. Phasellus at nulla eu.
        hr
        button.button-primary.button-services ORDER NOW
      .order-now
        .services-circle
          .services-circle-content
            img.services-circle-img(src='../images/mail.png')
        h4 Subscriber Service
        hr
        p Quisque ac porta mauris. Nam ut ante nunc. In tempor mauris a enim tincidunt, a interdum justo eleifend. Suspendisse in odio mi. Suspendisse mollis
          |risus et gravida congue. Curabitur eu lorem neque. Phasellus at nulla eu.
        hr
        button.button-primary.button-services ORDER NOW
    .pay-section.centering.clearfix
      .pay-box
        h3 Basic
        hr
        span $ 199.99
        p Quisque ac porta mauris. Nam ut ante nunc. In tempor mauris a enim tincidunt, a interdum justo eleifend. Suspendisse in odio mi. Suspendisse mollis
          |risus et gravida congue. Curabitur eu lorem neque. Phasellus at nulla eu.
        p interdum justo eleifend. Suspendisse in odio mi. Suspendisse mollis risus et gravida congue.
        p Suspendisse in odio mi.
        a(href="#") GET STARTED
      .pay-box
        h3 Standard
        hr
        span $ 199.99
        p Quisque ac porta mauris. Nam ut ante nunc. In tempor mauris a enim tincidunt, a interdum justo eleifend. Suspendisse in odio mi. Suspendisse mollis
          |risus et gravida congue. Curabitur eu lorem neque. Phasellus at nulla eu.
        p interdum justo eleifend. Suspendisse in odio mi. Suspendisse mollis risus et gravida congue.
        p Suspendisse in odio mi.
        a(href="#") GET STARTED
      .pay-box
        h3 Professional
        hr
        span $ 199.99
        p Quisque ac porta mauris. Nam ut ante nunc. In tempor mauris a enim tincidunt, a interdum justo eleifend. Suspendisse in odio mi. Suspendisse mollis
          |risus et gravida congue. Curabitur eu lorem neque. Phasellus at nulla eu.
        p interdum justo eleifend. Suspendisse in odio mi. Suspendisse mollis risus et gravida congue.
        p Suspendisse in odio mi.
        a(href="#") GET STARTED
  section.portfolio.centering
    .portfolio-content
      h2.headline-section.headline-green-type Portfolio
      p Praesent quis mauris risus.
       span Suspendisse
       |ac eros pulvinar, euismod arcu vitae, convallis enim. Vivamus diam erat, commodo quis cursus fermentum, posuere non nisi.
       span Integer egestas
       |a sapien sit amet dignissim.
      p Proin velit orci placerat at hendrerit ut venenatis vestibulum leo.
    .portfolio-photos
    .button-portfolio-section
      button.button-primary.button-portfolio Paintings
      button.button-primary.button-portfolio Photography
      button.button-primary.button-portfolio Digital Art
      button.button-primary.button-portfolio Abstract
      button.button-primary.button-portfolio Typography
  section.img-section
  section.follow-us
    .folow-us-content.centering
      h4 START TO FOLLOWING US
      p we are a creative studio that will make
      p stunning apps for your bussines
      button.button-primary.button-follow Follow Us
  section.blog.centering
    h2.headline-section.headline-green-type Blog
  section.contact-us.centering
    h2.headline-section.headline-green-type Contact Us
    p We Are Utmost
      span CREATIVE AGENCY
      |Located In Melbourne Australia. Pelle Tesque In Tincidunt Augue.
    p Integer Quis Pellentesque In Facilisis Leo.
  section.contact-input-field.centering.clearfix
    .contact-input-content
      form
        input(type="text", placeholder="Name")
        input(type="emial", placeholder="Email Adress")
        input(type="text", placeholder="Subject")
    .contact-input-content
      form
        input.message-imput(type="text", placeholder="Message")
        button.button-primary.button-submit-input Submit Request
  section.social
    .social-content.centering
      h2.headline-footer Just one theme, All In One
      ul.list-horizontal
        li
          a.f-social-fb(href="#")
        li
          a.f-social-twitter(href="#")
        li
          a.f-social-google-plus(href="#")
        li
          a.f-social-blogspot(href="#")
        li
          a.f-social-vimeo(href="#")
        li
          a.f-social-linkedin(href="#")
        li
          a.f-social-skype(href="#")
  footer.centering.clearfix
    .copyright
      p &copy 2013 Fabulous, All Rights Reserved
    .footer-navigation
      ul.list-horizontal
        li
          a(href="#") About
        li
          a(href="#") Services
        li
          a(href="#") Portfolio
        li
          a(href="#") Blog
        li
          a(href="#") Contatc Us





  script(src='bower_components/jquery/jquery.js')

  script(src='scripts/main.js')

  script(src='bower_components/sass-bootstrap/js/affix.js')
  script(src='bower_components/sass-bootstrap/js/alert.js')
  script(src='bower_components/sass-bootstrap/js/dropdown.js')
  script(src='bower_components/sass-bootstrap/js/tooltip.js')
  script(src='bower_components/sass-bootstrap/js/modal.js')
  script(src='bower_components/sass-bootstrap/js/transition.js')
  script(src='bower_components/sass-bootstrap/js/button.js')
  script(src='bower_components/sass-bootstrap/js/popover.js')
  script(src='bower_components/sass-bootstrap/js/carousel.js')
  script(src='bower_components/sass-bootstrap/js/scrollspy.js')
  script(src='bower_components/sass-bootstrap/js/collapse.js')
  script(src='bower_components/sass-bootstrap/js/tab.js')
